[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/NvChad/NvChad
