[core]
    excludesfile = "~/.gitignore_"
    attributesfile = "~/.gitattributes"
[user]
    name = Éric Lemoine
    email = eric_lemoine@ultimatesoftware.com
    signingkey = FFC64DBB96F156D2!
[commit]
    gpgsign = true
[init]
    # does not work with git 1.7.0.4
    templatedir = ~/.git_template
[color]
    ui = auto
[merge]
	tool = vimdiff
[alias]
    c = commit
    ca = commit --amend --no-edit
    cm = commit --message
    cf = commit --fixup
    a = add
    s = status
    rh = reset --hard
    f = fetch --prune
    m = merge
    mf = merge --ff-only
    r = rebase
    ri = rebase --interactive
    rs = rebase --interactive --autosquash
    rc = rebase --continue
    ra = rebase --abort
    d = diff
    p = push
    pf = push --force
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    co = checkout
    pr = pull-request
    rv = review
    cp = cherry-pick
    ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
[branch]
    autosetupmerge = false
[push]
	default = nothing
[grep]
    extendedRegexp=true
[merge "ours"]  # http://www.git-attitude.fr/2014/11/28/preserver-certains-fichiers-au-merge/
    driver = true
[url "git@github.com:"]
    insteadOf = gh:
[diff "odf"]
    textconv = odt2txt
[advice]
	ignoredHook = false
