[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = http://github.com/markabe/bufexplorer.git
[submodule ".vim/bundle/yankring"]
	path = .vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
