[user]
	name = Éric Lemoine
	email = eric.lemoine@gmail.com
[color]
    status = auto
    diff = auto
[merge]
	tool = vimdiff
[alias]
    addremove = !git add . && git ls-files --deleted | xargs --no-run-if-empty git rm
